.signUpContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    flex-grow: 1; /* Takes up all remaining space */
  overflow-y: auto; /* Adds scroll to the content div if content overflows */
  background-image: url('../../images/composition-black-friday-shopping-cart-with-copy-space.jpg');
  background-position: center;
  background-size: cover;
}

.formContainer{
    display: flex;
    flex-direction: column;
    /* height: 80%; */
    /* width: 35rem; */
    /* min-width: 300px; */
    background-color: rgb(137, 132, 124);
    padding: 2rem;
    align-items: center;
    border-radius: 8px;
    color: whitesmoke;
    /* justify-content: center; */
}
.formContainer form{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
}
.formContainer form input{
    width: 100%;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    padding: 3px 5px;
    border: none;
}
.formContainer button{
    width: 50%;
    border: none;
    padding: 8px 0px;
    background-color: coral;
    font-size: 1.2rem;
    color: whitesmoke;
    font-weight: 400;
    border-radius: 5px;
}
.formContainer button:hover{
    background-color: rgb(210, 108, 71);
}
.formContainer p{
    margin: 0;
    margin-top: 10px;
}