*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.filters{
    background-color: lightblue;
    padding: 1rem 2rem;
    border-radius: 10px;
}

.search{
    /* width: 100%; */
    margin-bottom: 2rem;
}
.search input{
    /* width: 100%; */
    border: none;
    padding: 3px 5px;
    border-radius: 5px;
}

.categories > *{
    margin: 0;
}

.categories h2{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.8rem;
}
.categories p{
    cursor: pointer;
    font-weight: 400;
    margin-bottom: 5px;
}
.categories ul{
    padding-left: 2rem;
}
.categories ul li{
    margin-bottom: 0.2rem;
}
.categories ul li input{
    margin-right: 10px;
}

.priceFilter{
    margin-top: 2rem;
}
.priceFilter p{
    margin-bottom: 0;
    margin-left: 1rem;
    font-weight: 500;
}

.sortPrice{
    margin-top: 2rem;
}
.sortPrice h4{
    margin-bottom: 0.5rem;
}
.sortName{
    display: flex;
    align-items: center;
    gap: 5px;
    
}
.sortPrice p{
    font-size: 15px;
    margin: 0;
    padding: 0;    
    padding: 2px 6px;
    border-radius: 5px;
    cursor: pointer;
}
.sortActive{
    color: white;
    background-color: coral;
}
.sortIncative{
    background-color: whitesmoke;
}

/* --For small screens -- */
.filtersMobile{
    display: none;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* width: 80%; */
    padding: 1rem;
    border-radius: 10px;
    padding-left: 4rem;
    background-color: #ADD8E6;
}
.mFilterBottom{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 3rem;
    margin-top: 2rem;
    
}
/* .priceFilter h4{
    font-size: 1.5rem;
    margin: 2rem 0 ;
    color: #ADD8E6;
    
} */
.mSortName{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.mSortName p{
    border-radius: 5px;
    padding: 2px 5px;
}


.mFilterTop{
    width: 100%;
    display: flex;
    /* align-items: flex-start; */
    gap: 3rem;
    /* justify-content: space-around; */
}
.mFilterTop input{
    border: none;
    background-color: white;
    padding: 2px 10px;
    border-radius: 5px;
    width: 50%;
}
/* .mCatFilter{
    position: relative;
    background-color: rgb(17, 134, 17);
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
} */

.catMenu {
  background-color: rgb(245, 238, 238);
}
.catMenu > *:hover{
    background-color: rgb(206, 196, 196);
}
.catMenu input{
    width: auto;
    margin-right: 7px;
}

@media only screen and (max-width: 500px) {
    .filtersMobile{
        display: flex;
        max-width: 95%;
        padding-left: 1rem;
    }
    .filters{
        display: none;
    }
    .priceFilter{
        margin: 0;
       /* padding-top: 2rem; */
    }
    .priceFilter h4{
        font-size: 0.9rem;
        margin: 0;
        color: black;
    }
    .mSortName > p{ 
        font-size: 0.7rem;
        font-weight: 700;
        padding-left: 3px 2px;
    }
    .mFilterTop input{
        /* width: 100%; */
        border: none;
        /* padding: 1px 2px; */
        font-size: 0.6rem;
        border-radius: 5px;
        font-size: 1rem;
    }
}


@media only screen and  (min-width: 500px) and (max-width: 600px){
    .filtersMobile{
        display: flex;
    }
    .filters{
        display: none;
    }
    .priceFilter{
        margin: 0;
       /* padding-top: 2rem; */
    }
    .priceFilter h4{
        font-size: 1.1rem;
        margin: 0;
        color: black;
    }
    .mSortName > p{ 
        font-size: 0.8rem;
        font-weight: 500;
        padding-left: 3px 4px;
    }
    
}

@media only screen and (min-width: 600px) and (max-width: 768) {
        .filters{
            display: none;
        }
        .priceFilter{
            margin: 0;
        /* padding-top: 2rem; */
        }
        .filtersMobile{
            display: flex;
            /* width: 80%; */
        }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px){
    .filters{
        display: none;
        }
        .filtersMobile{
            display: flex;
            
        }
        /* .mFilterTop input{
            width: 50%;
            border: none;
            padding: 3px 5px;
            border-radius: 5px;
        } */
        
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px)  {
    .filters{
        display: block;
        background-color: lightblue;
        padding: 1rem 2rem;
        border-radius: 10px;
        }
        .filtersMobile{
            display: none;
        }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .filters{
        display: block;
        }
        .filtersMobile{
            display: none;
        }
      
}
